# Supabase Project Credentials
VITE_SUPABASE_URL=https://fwxbdmaghwulxnzihsfl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ3eGJkbWFnaHd1bHhuemloc2ZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwOTgyOTgsImV4cCI6MjA5NTY3NDI5OH0.Hs4Jar13pViqOQ9f2raPuL-yIZiZPzRJS2RBcgX4nmw

# Set to true to bypass Supabase connection and run locally in the browser
VITE_USE_MOCK=false
